* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
i, svg {
    pointer-events: none;
}
.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.kick-pad {
    background: rgb(182, 130, 231);
}
.snare-pad {
    background: rgb(71, 202, 241);
}
.hihat-pad {
    background: rgb(252, 190, 76);
}
.kick-pad.active {
    background: rgb(71, 2, 136);
}
.snare-pad.active {
    background: rgb(1, 94, 122);
}
.hihat-pad.active {
    background: rgb(151, 99, 2);
}
.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hihat-track, .snare-track, .kick-track {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 3rem;
    .hihat, .snare, .kick {
        display: flex;
        .pad {
            transition: all 0.5s ease;
        }
    }
    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        margin: 0rem 1rem;
        button {
            padding: 1rem;
            border: none;
            background: gray;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }
}
select {
    padding: 1rem;
    font-size: 1rem;
}
.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    background: gray;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
}
.mute.active{
    background: rgb(192, 190, 190);
}
.tempo{
    margin-top: 1rem;
    width: 30%;
    .tempo-slider{
        padding: 0.1rem;
        -webkit-appearance: none;
        margin: 1rem 0rem;
        border-radius: 1rem;
        width: 100%;
        position: relative;
        background: rgb(88, 88, 88);
        cursor: pointer;
    }
    p {
    text-align: center;
    margin-top: -0.8rem;
    }
}


@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}